<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" appPasswordsMatch>
    <div class="row">
      <mat-form-field>
        <mat-label>Firstname</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Lastname</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="passwordConfirm" type="password">
      </mat-form-field>
    </div>
    <div *ngIf="registerForm.errors?.passwordsMustMatchValidator && (registerForm.touched || registerForm.dirty)" class="passwords-do-not-match-error-message">
      Passwords do not match!
    </div>
    <br>
    <div class="row">
      <button mat-button color="primary" type = "submit">Register</button>
    </div>

  </form>
</div>
