.carousel-container{
  display: block;
  //width: 50%;
  //margin:auto;
}

::ng-deep mat-tab-body {
  margin: 30px 30px 30px;
}

.transaction-type{
  color: seagreen;
}

.container{
  max-width:75%;
  display: block;
  margin: 25px auto 0 auto;
}
.size{
  font-size: xxx-large;
  padding-top: 14px;
  padding-bottom: 15px;

}
.text{
  position: absolute;
  margin-left: 30px;
  font-size: x-large;
  color: blue;
  padding-top: 5px;
  padding-bottom: 15px;
}
.buton{
  width: 240px;
  height: 50px;
  display: inline-flex;
  border: seagreen 4px;
  border-style:solid;
  border-radius: 10px;
}
.buton:hover{
  background-color:#E1FFDD;
}
