<div *ngIf="apartment" class="container">
  <div [style.height]="500" class="carousel-container">
    <mat-carousel
      timings="250ms ease-in"
      [autoplay]="true"
      [interval]="5000"
      color="primary"
      maxWidth="auto"
      [proportion]="35"
      [loop]="true"
      [hideArrows]="false"
      [hideIndicators]="false"
      [useKeyboard]="true"
      [useMouseWheel]="false"
      orientation="ltr"
    >
      <mat-carousel-slide
        #matCarouselSlide
        *ngFor="let slide of apartment.pictures; let i = index"
        [image]="slide.url"
        overlayColor="#00000040"
        [hideOverlay]="true"
      ></mat-carousel-slide>
    </mat-carousel>
  </div>
  <mat-tab-group>
    <mat-tab label="{{tab1}}" i18n="Tab Description Apartment|Description for the apartment tab@@apartDescriptionTab">
      <strong>{{apartment.titleApart}}</strong>
      <br>
      <b class="transaction-type">{{apartment.transactionType}}</b>
      <br>
      <p>{{apartment.description}}</p>
      <p>{{apartment.city}}, {{apartment.neighbourhood}}</p>
      <p>Apartamentul apare de <strong>{{getStatistics1Data}}</strong> ori in lista de favorite a utilizatorilor</p>
    </mat-tab>

    <mat-tab label="Caracteristici" i18n="Characteristics Tab|Description for apartment characteristics tab@@characteristicsTab">
      <p>Numar camere: {{apartment.nrRooms}}</p>
      <p>Suprafata: {{apartment.surface}} mp</p>
      <p>An constructie: {{apartment.yearConstruction}}</p>
    </mat-tab>

    <mat-tab label="Pret" i18n="Price Tab|Description for price tab@@priceTab">
      {{apartment.price | currency:'EUR'}}
    </mat-tab>

    <mat-tab label="Contact proprietar" i18n="Owner details Tab|Description for owner details tab@@ownerTab">
      <p>{{apartment.owner.firstName}} {{apartment.owner.lastName}}</p>
      <p>{{apartment.owner.phoneNumber}}</p>
      <p ><a href="/owners/{{apartment.owner.id}}">Statistica Locuinte</a></p>
    </mat-tab>
  </mat-tab-group>
  <div class="buton">
  <button  mat-icon-button color="warn" (click)="toWishlist(apartment.id)">
    <mat-icon class="size" [ngStyle]="{'color': isFavourite(apartment.id) ? 'red' : 'gray'}">favorite</mat-icon>
    <span *ngIf="!isFavourite(apartment.id)" class="text" i18n="AddButton|Button for add@@addButton">Adauga</span>
    <span *ngIf="isFavourite(apartment.id)" class="text" i18n="DeleteButton|Button for delete@@deleteButton">Sterge</span>
  </button>
  </div>
  <br>
  <br>
  <br>
  <br>
</div>
