<div class="container">
  <p>{{getFullName()}}</p>

  <div class="logo">
    <img src="./assets/KeepITsimple_Logo.png" alt="KeepITsimple-Imobiliare" [routerLink]="['']">
  </div>

  <div class="button-container">
    <button mat-raised-button matTooltip="Log in" (click)="login()" *ngIf="!isLogged()">
      <mat-icon>login</mat-icon>
    </button>
    <button mat-raised-button matTooltip="Go to wishlist" (click)="wishlist()" *ngIf="isLogged()">
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-raised-button matTooltip="Log out" (click)="logout()" *ngIf="isLogged()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</div>
