<div class="containerr">
  <p>{{getFullName()}}</p>

  <div class="logo zoom">
    <img src="./assets/KeepITsimple_Logo.png" alt="KeepITsimple-Imobiliare" [routerLink]="['']">
  </div>

  <div class="button-container">
    <a href="http://localhost:4200/"><i class="flag flag-romania"></i></a>
    <a href="http://localhost:4201/"><i class="flag flag-germany"></i></a>
    <button mat-raised-button matTooltip="{{tooltipLogin}}" (click)="login()" *ngIf="!isLogged()">
      <mat-icon>login</mat-icon>
    </button>

    <button mat-raised-button matTooltip="{{tooltip1}}" (click)="goToUserDetails()" *ngIf="isLogged()">
      <mat-icon>manage_accounts</mat-icon>
    </button>

    <button mat-raised-button matTooltip="{{tooltipGotoStatistics}}" (click)="goToStatistics()" *ngIf="isLogged()">
      <mat-icon>analytics</mat-icon>
    </button>

    <button mat-raised-button matTooltip="{{tooltipGotoWishlist}}" (click)="wishlist()" *ngIf="isLogged()">
      <mat-icon matBadgeSize="small" matBadge="{{count}}" matBadgeColor="warn" >favorite</mat-icon>
    </button>

    <button mat-raised-button matTooltip="{{tooltipLogout}}" (click)="logout()" *ngIf="isLogged()" [routerLink]="['']">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</div>
