.container {
  height: 60px;
  width: 100%;
  //margin-bottom: 15px;
  background-color: seagreen;
  color: white;
  display: flex;
  justify-content: space-between;
}

p {
  //float: left;
  //display: inline-block;
  margin-left: 10px;
  align-self: start;
  font-family: Roboto, sans-serif;
}

h1 {
  //display: inline-block;
  justify-content: center;
  align-self: center;
}

.button-container {
  align-self: end;
  //display: inline-block;
  background-color: transparent;
  margin-top: 7.5px;
  margin-right: 5px;
}

button {
  margin: 5px 5px 5px 5px;
}

img {
  height: 60px;
  padding-left: 70px;
}
