<div class="container">
  <p>{{getFullName()}}</p>

  <div class="logo zoom">
    <img src="./assets/KeepITsimple_Logo.png" alt="KeepITsimple-Imobiliare" [routerLink]="['']">
  </div>

  <div class="button-container">
    <button mat-raised-button matTooltip="Log in" (click)="login()" *ngIf="!isLogged()">
      <mat-icon>login</mat-icon>
    </button>

    <button mat-raised-button matTooltip="Manage Account Details" (click)="goToUserDetails()" *ngIf="isLogged()">
      <mat-icon>manage_accounts</mat-icon>
    </button>

    <button mat-raised-button matTooltip="Go to statistics" (click)="goToStatistics()" *ngIf="isLogged()">
      <mat-icon>analytics</mat-icon>
    </button>

    <button mat-raised-button matTooltip="Go to wishlist" (click)="wishlist()" *ngIf="isLogged()">
      <mat-icon matBadgeSize="small" matBadge="{{count}}" matBadgeColor="warn" >favorite</mat-icon>
    </button>

    <button mat-raised-button matTooltip="Log out" (click)="logout()" *ngIf="isLogged()" [routerLink]="['']">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</div>
