
<mat-accordion>
  <form [formGroup]="formFilter" (ngSubmit)="onSubmitfilter()">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        FILTER
      </mat-panel-title>
      <mat-panel-description>
        Filtreaza rezultatele dupa optiuni
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!--  <p>Optiune 1</p>  -->
    <!------------------------------------------Slider----------------------------------------------------->
    <mat-card class="example-result-card">
      <mat-card-content>
        <div class="example-label-container" [class]="vertical ? 'example-label-vertical' : 'example-label-horizontal'">
          <label id="example-name-label" class="example-name-label" style="font-size:180%;">Pret(€): </label>
          <label class="example-value-label">{{value}}</label>
        </div>
        <mat-slider
          class="example-margin"
          [disabled]="disabled"
          [invert]="invert"
          [max]="max"
          [min]="min"
          [step]="step"
          [thumbLabel]="thumbLabel"
          [tickInterval]="0"
          [(ngModel)]="value"
          formControlName="pret"
          [vertical]="vertical"
          aria-labelledby="example-name-label">
        </mat-slider>
      </mat-card-content>
    </mat-card>
    <br>
    <!-----------------------------------------------Radio-Bts----------------------------------------------->
    <mat-card>
      <mat-card-content>
        <mat-radio-group formControlName="tip" aria-label="Select an option">

          <p style="font-size:180%;">Doresc sa:</p>
          <p></p>
          <mat-radio-button value="inchiriere">Inchiriez</mat-radio-button>
          <mat-radio-button value="vanzare">Cumpar</mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
    </mat-card>
    <!----------------------------------------------Select--------------------------------------------------->
    <mat-card>
      <mat-card-content>
        <p style="font-size:180%;">Oras:</p>
        <select placeholder="Oras" formControlName="oras" (change)="changeOras($event)">
          <option> Alege orasul </option>
          <option *ngFor="let oras of Orase">{{oras.name}}</option>
        </select>
      </mat-card-content>


      <p style="font-size:180%;">Cartier:</p>
      <select placeholder="Cartier" formControlName="cartier"(change)="changeCartier($event)">
        <option> Alege cartierul </option>
        <option *ngFor="let cartier of cartiere">{{cartier.name}}</option>
      </select>
    </mat-card>
    <br>
    <button mat-raised-button color="primary" type = "submit">Filtrare</button>
    <!------------------------------------------------------------------------------------------------------->

  </mat-expansion-panel>
  </form>

  <!--                                                              SORT              -->
  <form [formGroup]="formSort" (ngSubmit)="onSubmitsort()">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>

      <mat-panel-title>
        SORT
      </mat-panel-title>
      <mat-panel-description>
        Sorteaza rezultatele dupa optiuni
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-----------------------------------------------Radio-Bts----------------------------------------------->
    <mat-card>
      <mat-card-content>
        <mat-radio-group formControlName="pretsort" aria-label="Select an option">
          <p style="font-size:180%;">Sorteaza dupa pret:</p>
          <p></p>
          <mat-radio-button value="crescator">Crescator</mat-radio-button>
          <mat-radio-button value="descrescator">Descrescator</mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
    </mat-card>
    <!------------------------------------------------------------------------------------------------------->
    <!-----------------------------------------------Radio-Bts----------------------------------------------->
    <mat-card>
      <mat-card-content>
        <mat-radio-group formControlName="suprafata" aria-label="Select an option">
          <p style="font-size:180%;">Sorteaza dupa suprafata:</p>
          <p></p>
          <mat-radio-button value="crescator">Crescator</mat-radio-button>
          <mat-radio-button value="descrescator">Descrescator</mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
    </mat-card>
    <br>
    <button mat-raised-button color="primary" type = "submit">Sortare</button>
    <!------------------------------------------------------------------------------------------------------->
  </mat-expansion-panel>
 </form>
</mat-accordion>
