
<mat-accordion>
  <form [formGroup]="formFilter" (ngSubmit)="onSubmitfilter()">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        FILTER
      </mat-panel-title>
      <mat-panel-description i18n="FilterDescription|Description for filter panel@@filterDescription">
        Filtreaza rezultatele dupa optiuni
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!--  <p>Optiune 1</p>  -->
    <!------------------------------------------Slider----------------------------------------------------->
    <mat-card class="example-result-card">
      <mat-card-content>
        <div class="example-label-container" [class]="vertical ? 'example-label-vertical' : 'example-label-horizontal'">
          <label id="example-name-label" class="example-name-label" style="font-size:180%;" i18n="PriceEuro|Price in euros@@priceEuro">Pret(€): </label>
          <label class="example-value-label">{{value}}</label>
        </div>
        <mat-slider
          class="example-margin"
          [disabled]="disabled"
          [invert]="invert"
          [max]="max"
          [min]="min"
          [step]="step"
          [thumbLabel]="thumbLabel"
          [tickInterval]="0"
          [(ngModel)]="value"
          formControlName="pret"
          [vertical]="vertical"
          aria-labelledby="example-name-label">
        </mat-slider>
      </mat-card-content>
    </mat-card>
    <br>
    <!-----------------------------------------------Radio-Bts----------------------------------------------->
    <mat-card>
      <mat-card-content>
        <mat-radio-group formControlName="tip" aria-label="Select an option">

          <p style="font-size:180%;" i18n="Iwant|I want to@@want">Doresc sa:</p>
          <p></p>
          <mat-radio-button value="inchiriere" i18n="RentOption|Option for rent@@rentOption">Inchiriez</mat-radio-button>
          <mat-radio-button value="vanzare" i18n="BuyOption|Option for buy@@buyOption">Cumpar</mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
    </mat-card>
    <!----------------------------------------------Select--------------------------------------------------->
    <mat-card>
      <mat-card-content>
        <p style="font-size:180%;" i18n="CityOption|Option for city@@cityOption">Oras:</p>
        <select placeholder="Oras" formControlName="oras" (change)="changeOras($event)">
          <option i18n="CityOptionChoose|Choose city@@cityChoose"> Alege orasul </option>
          <option *ngFor="let oras of Orase">{{oras.name}}</option>
        </select>
      </mat-card-content>


      <p style="font-size:180%;" i18n="NeighbourhoodOption|Option for neighbourhood@@neighbourhoodOption">Cartier:</p>
      <select placeholder="Cartier" formControlName="cartier"(change)="changeCartier($event)">
        <option i18n="NeighbourhoodOptionChoose|Choose neighbourhood@@neighbourhoodChoose"> Alege cartierul </option>
        <option *ngFor="let cartier of cartiere">{{cartier.name}}</option>
      </select>
    </mat-card>
    <br>
    <button mat-raised-button color="primary" type = "submit" i18n="FilterButton|Button for filter@@filterButton">Filtrare</button>
    <!------------------------------------------------------------------------------------------------------->

  </mat-expansion-panel>
  </form>



  <!--                                                              SORT              -->
  <form [formGroup]="formSort" (ngSubmit)="onSubmitsort()">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>

      <mat-panel-title>
        SORT
      </mat-panel-title>
      <mat-panel-description i18n="SortDescription|Description for sort panel@@sortDescription">
        Sorteaza rezultatele dupa optiuni
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-----------------------------------------------Radio-Bts----------------------------------------------->
    <mat-card>
      <mat-card-content>
        <mat-radio-group formControlName="pretsort" aria-label="Select an option">
          <p style="font-size:180%;" i18n="SortByPrice|Sort by price@@sortPrice">Sorteaza dupa pret:</p>
          <p></p>
          <mat-radio-button value="crescator" i18n="SortAscendingP|Sort ascendingP@@sortAscendingP">Crescator</mat-radio-button>
          <mat-radio-button value="descrescator" i18n="SortDescendingP|Sort descendingP@@sortDescendingP">Descrescator</mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
    </mat-card>
    <!------------------------------------------------------------------------------------------------------->
    <!-----------------------------------------------Radio-Bts----------------------------------------------->
    <mat-card>
      <mat-card-content>
        <mat-radio-group formControlName="suprafata" aria-label="Select an option">
          <p style="font-size:180%;" i18n="SortBySurface|Sort by surface@@sortSurface">Sorteaza dupa suprafata:</p>
          <p></p>
          <mat-radio-button value="crescator" i18n="SortAscendingS|Sort ascendingS@@sortAscendingS">Crescator</mat-radio-button>
          <mat-radio-button value="descrescator" i18n="SortDescendingS|Sort descendingS@@sortDescendingS">Descrescator</mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
    </mat-card>
    <br>
    <button mat-raised-button color="primary" type = "submit" i18n="SortButton|Button for sort@@sortButton">Sortare</button>
    <!------------------------------------------------------------------------------------------------------->
  </mat-expansion-panel>
 </form>
</mat-accordion>
