<div class="container">
  <form [formGroup]="passwordReset" (ngSubmit)="onSubmit()" appPasswordsMatch>
    <div class="row">
      <mat-form-field>
        <mat-label>New Password</mat-label>
        <input autocomplete="new-password" matInput formControlName="password" type="password">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Confirm New Password</mat-label>
        <input name="new-confirm-password" autocomplete="new-confirm-password" matInput
               formControlName="passwordConfirm" type="password">
      </mat-form-field>
    </div>
    <div *ngIf="passwordReset.errors?.passwordsMustMatchValidator && (passwordReset.touched || passwordReset.dirty)"
         class="passwords-do-not-match-error-message">
      Passwords do not match!
    </div>
    <br>
    <div class="row">
      <button mat-raised-button color="primary" [disabled]="!isValid()" type="submit" class="register-button">Update Password</button>
    </div>
    <br>

    <!--    buton de login cu routing sa ma redirect pe comp de login-->

  </form>
</div>
