form{
  text-align: center;
  padding: 10px;
  outline: 3px seagreen solid;
}

.container{
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.passwords-do-not-match-error-message{
  color: red;
}

.register-button{
  background-color: #3d0859;
}
