<div class="container">
  <form [formGroup]="passwordReset" (ngSubmit)="onSubmit()" appPasswordsMatch>
    <div class="row">
      <mat-form-field>
        <mat-label i18n="NewPassword|Desc for new password@@newPassword">New Password</mat-label>
        <input autocomplete="new-password" matInput formControlName="password" type="password">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label i18n="ConfirmNewPassword|Confirm new password@@newPasswordConfirm">Confirm New Password</mat-label>
        <input name="new-confirm-password" autocomplete="new-confirm-password" matInput
               formControlName="passwordConfirm" type="password">
      </mat-form-field>
    </div>
    <div *ngIf="passwordReset.errors?.passwordsMustMatchValidator && (passwordReset.touched || passwordReset.dirty)"
         class="passwords-do-not-match-error-message" i18n="PasswordsNotMatch|Password do not match Message@@passwordsNotMatch">
      Passwords do not match!
    </div>
    <br>
    <div class="row">
      <button mat-raised-button color="primary" [disabled]="!isValid()" type="submit" class="register-button" i18n="UpdatePassButton|Button for password update@@updatePassButton">Update Password</button>
    </div>
    <br>

  </form>
</div>
