<div *ngIf="isVerified" class="container text-center verify">
  <h3 i18n="CongratsVerification|Congrats Msg for verification@@congratsVerif">Felicitări, contul dvs. a fost verificat.</h3>
  <h4><a class="buton" href="/login" i18n="loginButtonVerif|Button for login after verif@@loginButtonVerif">Apasa aici pentru a te loga</a></h4>
</div>
<div *ngIf="!isVerified" class="container text-center verify">
  <h3 i18n="FailedVerification|Fail Msg for verification@@failedVerif">Ne pare rău, nu am putut verifica contul. Poate că este deja verificat sau codul de verificare este incorect.</h3>
  <h4><a class="buton" href="/login" i18n="loginButtonVerifFail|Button for login after verif fail@@loginButtonVerifFail">Apasa aici pentru a te loga</a></h4>
</div>
