<div class="history-button">
<button mat-raised-button matTooltip="{{tooltipHistory}}" color="primary" (click)="goToHistory()">
  <mat-icon>history</mat-icon>
</button>
</div>

<div class="container">
  <p i18n="WelcomeUser|Message to welcome user@@userWelcome">Bun venit, {{getFullName()}}! Aici iti poti modifica datele contului!</p>
  <form [formGroup]="userDetailsForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label i18n="FirstnameD|Desc for firstnameD@@firstnameD">Prenume</mat-label>
        <input matInput type="text" formControlName="firstName">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label i18n="LastnameD|Desc for lastnameD@@lastnameD">Nume</mat-label>
        <input matInput type="text" formControlName="lastName">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label i18n="EmailD|Desc for emailD@@emailD">Email</mat-label>
        <input matInput type="email" formControlName="email">
      </mat-form-field>
    </div>
    <br>
    <div class="row">
      <button mat-raised-button color="primary" class="update-button" type="submit" i18n="DetailsButtonUpdate|Button for detailsUpdate@@detailsUpdateButton">Actualizați Datele</button>
    </div>
  </form>
</div>
