<div class="history-button">
<button mat-raised-button matTooltip="History" color="primary" (click)="goToHistory()">
  <mat-icon>history</mat-icon>
</button>
</div>

<div class="container">
  <p>Bun venit, {{getFullName()}}! Aici iti poti modifica datele contului!</p>
  <form [formGroup]="userDetailsForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Firstname</mat-label>
        <input matInput type="text" formControlName="firstName">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Lastname</mat-label>
        <input matInput type="text" formControlName="lastName">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
      </mat-form-field>
    </div>
    <br>
    <div class="row">
      <button mat-raised-button color="primary" class="update-button" type="submit">Update Details</button>
    </div>
  </form>
</div>
