.success-snackbar {
  background: seagreen !important;
  white-space: pre-wrap!important;
  color: white;
}
.fail-snackbar{
  background: darkred !important;
  white-space: pre-wrap!important;
  color: white;
}
