.list-group {
  margin: auto;
  //position: absolute;
  size: auto;
  padding-left: 95%;
  padding-top: 15px;
  padding-bottom: 10px;
}
mat-toolbar{
  position: absolute;
}

button {
  background-color: seagreen; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 24px;
  border-radius: 30%;
}
