form{
  text-align: center;
  padding: 10px;
  outline: 3px seagreen solid;
}

.container{
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
//.container2{
//  padding: 10% 35% 5% 35%;
//  position: absolute;
//  display:flex;
//  justify-content: center;
//  align-items: center;
//  text-align: center;
//}

.login-button{
  background-color: seagreen;
}
.register-link:visited, .register-link:link{
  color: black;
}
.centered-element {
  position: absolute;
  left: 50%;
  margin-left: -227px;
  top: 25%;
}

