form{
  text-align: center;
  padding: 10px;
  outline: 3px seagreen solid;
}

.container{
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.login-button{
  background-color: seagreen;
}
.register-link:visited, .register-link:link{
  color: black;
}

